@model IEnumerable<Stage2.Features.Guests.Index.Model>
@{


    <h2>Guests</h2>

    <p>
        @Html.ActionLink("Add New", nameof(Stage2.Features.Guests.GuestsController.AddGuest))
    </p>


    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>                    
                    @Html.ActionLink("Details", nameof(Stage2.Features.Guests.GuestsController.Details), new { Id = item.Id })                   
                </td>
            </tr>            
        }

    </table>

}
